{{define "content"}}
            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        Synkee Server Dashboard
                        <small>Overview of your Synkee projects</small>
                    </h1>
                </section>

                <!-- Main content -->
                <section class="content">

                    fdsfsdafsda


                </section><!-- /.content -->
            </div><!-- /.content-wrapper -->
{{end}}
